section.aboutUs
  .sectionTitle
    h1 О Нас
  .aboutUs__content
    .aboutUs__part
      p 
        | Объединение церквей 
        span.bold «Краеугольный камень» 
        | было образовано в 2001 году в Ачинске несколькими поместными церквями. Объединение не ставит перед собой целю создание юридического лица, но объединяется в духовную структуру (организацию).
    .aboutUs__part
      img.aboutUs__pic(src="../../img/about/nepomnyashih.jpg")
      p
        | Руководителем объединения является старший пастор 
        span.bold Непомнящих Сергей Владимирович. 
        | В настоящее время руководство объединения находится в городе Москва на базе Местной Религиозной организации церкви «Краеугольный камень». Церкви нашего объединения входят в Централизованную религиозную организацию Ассоциацию Христиан Веры Евангельской «Церкви веры»
    .aboutUs__part
      img.aboutUs__pic(src="../../img/about/ishoel.jpg")
      p
        | Президентом Ассоциации является 
        span.bold Маттс-Ола Исхоел. 
        | Ассоциация была создана в 1996 году. В 1997 году Ассоциация стала одним из учредителей Российского объединенного Союза христиан веры евангельской (пятидесятников), возглавляемого Епископом Сергеем Васильевичем Ряховским. Наряду со своими основными целями и задачами деятельности: проповедь полного Евангелия Господа нашего Иисуса Христа и распространение христианских духовных ценностей. Деятельность Ассоциации со дня своего основания направлена на: 
    .aboutUs__list
      ul
        li Содействие общению христианских церквей и верующих, при полном уважении их cсамостоятельности.
        li Оказание организационной, информационной, консультативной, правовой и другой необходимой помощи религиозным объединениям, входящим в Ассоциацию. 
        li Содействие в организации новых религиозных объединений.
        li Содействие в развитии образовательной деятельности, в том числе духовной образовательной деятельности по подготовке служителей церкви и религиозного персонала.
        li Представление и защита интересов религиозных объединений, входящих в Ассоциацию Российский объединенный Союз христиан веры евангельской (пятидесятников) (РОСХВЕ) является одной из крупнейших традиционных религиозных организаций России.
    .aboutUs__part
      img.aboutUs__pic(src="../../img/about/ryahovskiy.jpg")
      p
        | Председатель РОСХВЕ — член Совета по взаимодействию с религиозными объединениями при Президенте РФ епископ 
        span.bold Сергей Васильевич Ряховский. 
        | Ряховский Сергей Васильевич епископ, член Общественной палаты РФ, член Совета по взаимодействию с религиозными объединениями при Президенте РФ, председатель Российского Объединенного Союза Христиан Веры Евангельской.
