section.churchLife
  .sectionTitle
    h1 Жизнь церкви
    
  .subTitle
    h4 Видео
  .preachings
    figure
      iframe(src="https://www.youtube.com/embed/cF_6IWx2_Bk" frameborder="0" allowfullscreen)
        
    figure
      iframe(src="https://www.youtube.com/embed/CcU8IY9vjI8" frameborder="0" allowfullscreen)
        
    figure
      iframe(src="https://www.youtube.com/embed/eVgPOBDjPSM" frameborder="0" allowfullscreen)
        
    a.preachings__link(href="https://www.videopropovedi.ru") Все проповеди
      span &#62;&#62;
  
  .subTitle
    h4 Новости
  .news
    
    .news__item
      .news__pic
        img(src="../../img/news/news1.jpg" alt="#")
      .news__body
        a.news__link(href="#")
          h2.news__title Новая новость
        span.news__date 10.08.2017
        p.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        a.news__fullLink(href="#") Читать полностью
          span &#62;&#62;
          
    .news__item
      .news__pic
        img(src="../../img/news/news1.jpg" alt="#")
      .news__body
        a.news__link(href="#")
          h2.news__title Новая новость
        span.news__date 10.08.2017
        p.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        a.news__fullLink(href="#") Читать полностью
          span &#62;&#62;
          
    .news__item
      .news__pic
        img(src="../../img/news/news1.jpg" alt="#")
      .news__body
        a.news__link(href="#")
          h2.news__title Новая новость
        span.news__date 10.08.2017
        p.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        a.news__fullLink(href="#") Читать полностью
          span &#62;&#62;
    //- a.news__allLink(href="#") Все новости
      span &#62;&#62;

  include ./modal/_event1.pug
