#contacts.contacts
  .contacts__close
    i(class="fa fa-times" aria-hidden="true")
  .contacts__header
    h2.contacts__title Контакты
    .divider
  .contacts__items
    a.contacts__item(href="tel:+79114942002")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Максим Деев
          p.contacts__position Пастор
          p.contacts__vk
            i(class="fa fa-vk" aria-hidden="true")
            span m.deev88
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (812) 355-75-74
    a.contacts__item(href="tel:+79114937553")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Евгения Деева
          p.contacts__position Лидер служения прославления
          p.contacts__vk
            i(class="fa fa-vk" aria-hidden="true")
            span deeva84
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (911) 493-75-53
    a.contacts__item(href="tel:+79114937399")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Татьяна Кузьмина
          p.contacts__position Администратор церкви
          p.contacts__vk
            i(class="fa fa-vk" aria-hidden="true")
            span 136271467
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (911) 493-73-99
    a.contacts__item(href="tel:+79114941997")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Павел Кузьмин
          p.contacts__position Служения инициативной группы
          p.contacts__vk
            i(class="fa fa-vk" aria-hidden="true")
            span 389842313
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (911) 494-19-97
    a.contacts__item(href="tel:+79210074217")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Ксения Тюнева
          p.contacts__position служения Благовестие
          p.contacts__vk
            i(class="fa fa-vk" aria-hidden="true")
            span ksy3236043
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (921) 007-42-17
    a.contacts__item(href="tel:+79114942007")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Михаил Попов
          p.contacts__position медиа-служение
          p.contacts__vk
            i(class="fa fa-vk" aria-hidden="true")
            span 22159585
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (911) 494-20-07
  .contacts__adress
    h2 Адрес
    p  г. Санкт-Петербург, <br> ст.м. Чкаловская, ул. Шамшева, 8. <br> ДК Им. Щелгунова, 4-й этаж
    //- script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afe582dff46b33d36cd859136029fabf741ac5ad0efc31b9ad7f27fea4a25b9b0&width=320&height=240&lang=ru_RU&scroll=true')
