#contacts.contacts
  .contacts__close
    i(class="fa fa-times" aria-hidden="true")
  .contacts__header
    h2.contacts__title Контакты
    .divider
  .contacts__items
    a.contacts__item(href="tel:+78123557574")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Максим Деев
          p.contacts__position Пастор
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (812) 355-75-74
    a.contacts__item(href="tel:+78123557574")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Максим Деев
          p.contacts__position Пастор
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (812) 355-75-74
    a.contacts__item(href="tel:+78123557574")
      figure
        img(src="/img/contacts/maxim.jpg" alt="Maxim" class="contacts__pic")
        figcaption
          h3.contacts__name Максим Деев
          p.contacts__position Пастор
          p.contacts__phone 
            i(class="fa fa-phone" aria-hidden="true")
            span +7 (812) 355-75-74
  .contacts__adress
    h2 Адрес
    p  г. Санкт-Петербург, <br> ст.м. Чкаловская, ул. Шамшева, 8. <br> ДК Им. Щелгунова, 4-й этаж
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afe582dff46b33d36cd859136029fabf741ac5ad0efc31b9ad7f27fea4a25b9b0&width=320&height=240&lang=ru_RU&scroll=true')
