section.evangelism
  .sectionTitle
    h1 Евангелизм
  .evangelism__content
    .evangelism__text
      h3 Дорогие друзья!!
      p 
        | Каждую 
        span.bold субботу в 12:00 
        | проводиться евангелизация на улицах нашего города! Если ты горишь желанием поделиться с людьми Божьей любовью, молиться за них, и исполнять поручения Иисуса, то мы будем рады видеть тебя вместе с нами! <br>
        | Подробная информация 
        span.bold по телефону 8-921-007-32-17
    
      video.evangelism__vid(src="../../video/evangelism.mp4" controls muted autoplay)
