footer.footer
  .logo
    .logo__pic
      img(src="../../img/logo.png" alt="logo")
    .logo__text
      p Церковь "Краеугольный камень" <br>
        span г. Калининград
  .info
    p Любая информация о церкви, например название организации, её адрес или контактные данные. Любая информация о церкви, например название организации, её адрес или контактные данные.
  .social
    a(href="#")
      i(class="fa fa-vk" aria-hidden="true")
    a(href="#")
      i(class="fa fa-facebook-official" aria-hidden="true")
    a( href="#")
      i(class="fa fa-twitter" aria-hidden="true")
    a(href="#")
      i(class="fa fa-google-plus" aria-hidden="true")
