section.glorification
  .sectionTitle
    h1 Служение прославление
  .glorification__content
    .glorification__text
      h3 Дорогие друзья!!
      p 
        | Приветствуем каждого и приглашаем Вас в служение прославление!
        | Репетиция проходит каждую 
        span.bold среду в 19.00. 
        | Подробную информацию можно получить 
        span.bold по телефону 8-911-493-75-53 Евгения
    
      img.glorification__pic(src="../../img/slider/slide2.jpg" alt="Служение прославление")
