head
  title Церковь &quot;Краеугольный Камень&quot; г.Калининград
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  
  meta(property='og:locale', content='ru_RU')
  meta(property='og:title', content='Церковь &quot;Краеугольный Камень&quot; г.Калининград')
  meta(property='og:type', content='profile')
  meta(property='og:url', content='https://www.site.ru')
  meta(property='og:description', content='описание')
  meta(property='og:image', content='https://www.site.ru/img/prew.jpg')
  meta(property='og:image:width', content='968')
  meta(property='og:image:height', content='504')
  
  link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
  link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
  link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
  link(rel='stylesheet', href='./css/main.css')
