section.ministration
  .sectionTitle
    h1 Служение
  .ministration__content
    img.ministration__pic(src="../../img/logo.png" alt="Краеугольный камень")
      
    .ministration__item
      h2 Помощь алко-наркозависимым
      p.bold 8-981-469-75-15
    .divider
      
    .ministration__item
      h2 Молитвенное служение
      p.bold 8-911-494-20-02
    .divider
      
    .ministration__item
      h2 Служение прославление
      p.bold 8-911-493-75-53
    .divider
      
    .ministration__item
      h2 Евангелизационное служение
      p.bold 8-921-007-32-17
    .divider
      
    .ministration__item
      h2 Инициативная Группа
      p.bold 8-911-494-19-97
    .divider
      
    .ministration__item
      h2 Служение "Накорми Голодного"
      p.bold 8-911-493-73-99
    .divider
      
    .ministration__item
      h2 Первые шаги с Богом
      p.bold 8-921-007-32-17
