section.prayer
  .sectionTitle
    h1 Молитвенное служение
  .prayer__content
    .prayer__text
      h3 Дорогие друзья!!
      p 
        | Рады приветствовать каждую
        span.bold пятницу в 20.00 
        | всех желающих на молитвенное служении! Это время удивительных свидетельств, когда Бог отвечает на наши молитвы, и если ты хочешь быть с нами присоединяйся!!! <br>
        | Подробная информация 
        span.bold по телефону 8-911-494-20-02
    
      img.prayer__pic(src="../../img/slider/slide4.jpg" alt="Молитвенное служение")
