#slider.slider
  .container
    .vision
      .vision__item
        a.vision__link(href="evangelism.html")
          img(src="../../img/slider/slide1.jpg" alt="slide1")
          //- h2 Заголовок новости
      .vision__item
        a.vision__link(href="glorification.html")
          img(src="../../img/slider/slide2.jpg" alt="slide2")
          //- h2 Заголовок новости
      .vision__item
        a.vision__link(href="worship.html")
          img(src="../../img/slider/slide3.jpg" alt="slide3")
          //- h2 Заголовок новости
      .vision__item
        a.vision__link(href="prayer.html")
          img(src="../../img/slider/slide4.jpg" alt="slide4")
          //- h2 Заголовок новости
      .vision__item
        a.vision__link(href="stop.html")
          img(src="../../img/slider/slide5.jpg" alt="slide5")
          //- h2 Заголовок новости
