section.stop
  .sectionTitle
    h1 WWW.NARKO-NET.RU
  .stop__content
    .stop__text
      h3 Дорогие друзья!!
      p 
        | Мы имеем огромный опыт работы с зависимыми людьми.
        |За 18 лет работы к нам обращались люди с такими разными судьбами, жизненными историями, обретенными болезнями не совместимыми с жизнью. Наш подход к каждому человеку индивидуальный, но всегда основан на одних незыблемых принципах, которые мы не нарушаем и это дает нам возможность видеть успех своего дела!
        |Мы готовы и хотим делиться с вами нашим опытом совершенно бесплатно!
        |Мы хотим помогать семьям, столкнувшимся с этой бедой!
        |Мы хотим ободрить Вас – у нас тысячи счастливых историй, которые начинались так же как ваша!
        |Консультация проходит
        span.bold  по номеру телефона 8-911-494-20-02 Максим.
    
      img.stop__pic(src="../../img/slider/slide5.jpg" alt="NARKO-NET.RU")
