section.worship
  .sectionTitle
    h1 Молитвенное служение
  .worship__content
    .worship__text
      h3 Дорогие братья и сестры!
      p 
        | Воскресное богослужение проходит каждое воскресение в 15:00 по адресу; просп. Мира, 19/21, Калининград, гост. Москва, Конференц зал 1 этаж . Подробную информацию можно уточнить
        span.bold по телефону: 8 911 912-68-52 Татьяна. Мы рады каждому.
    
      img.worship__pic(src="../../img/slider/slide3.jpg" alt="Богослужение")
