#event1.eventModal.hidden
  .eventModal__close
    i(class="fa fa-times" aria-hidden="true")
  .eventModal__wrapper
    .eventModal__head
      .eventModal__title
        h2 Событие1
      .eventModal__date
        span 12 Мая
      img.eventModal__pic(src="../../img/slider/slide2.jpg" alt="Служение прославление")
    .eventModal__text
      p Сбербанк и Telegram разработали уникальное платежное решение для партнеров, у которых есть Telegram-бот. Оно позволяет принимать к оплате банковские карты MasterCard, Visa и МИР. Кроме того, впервые в России появилась возможность оплаты в ботах Telegram с помощью Apple Pay и Android Pay. Сбербанк и Telegram разработали уникальное платежное решение для партнеров, у которых есть Telegram-бот. Оно позволяет принимать к оплате банковские карты MasterCard, Visa и МИР. Кроме того, впервые в России появилась возможность оплаты в ботах Telegram с помощью Apple Pay и Android Pay.
  
